:root {
  --theme-color: #ea580c;

  font-family: "Inter", sans-serif;

  .logo-size {
    width: 8rem;
  }

  .bg-orange-600 {
    background: var(--theme-color);
  }

  .bg-orange-500 {
    background: linear-gradient(to bottom, var(--theme-color), #fcd9c7);
  }

  .text-orange-600 {
    color: var(--theme-color);
  }

  .sticky {
    position: sticky;
  }

  .display-flex {
    display: flex;
    align-items: center;
  }

  .border-ai {
    border-radius: 1rem 1rem 1rem 1rem;
  }

  .bg-white {
    background-color: white;
  }

  .text-area {
    border: none;
    outline: none;
    color: black;
  }

  .image-product {
    height: 11rem;
    width: 22rem;
  }

  .zoom-effect:hover {
    transform: scale(1.2); /* Zooms the div to 1.2 times its original size */
  }

  p-button {
    background-color: var(--theme-color);
    color: white;
    border-radius: 1rem 1rem 1rem 1rem;
  }
  p-button:hover {
    background-color: var(--theme-color);
    color: white;
    border-radius: 1rem 1rem 1rem 1rem;
  }
}
